---
import Layout from '../layouts/Layout.astro';
---
<Layout title="pizza!!" description="Find out how to get a discount on pizza!" >
  <main class="m-auto p-4 max-w-full text-xl sm:px-24">
    <span class="columns-2 flex md:shrink-0 justify-items-center items-center justify-evenly">
        <h1 class="text-mech-500 pt-40 content-center font-bold font-sans sm:px-9 bg-clip-text text-5xl text-center sm:text-8xl">404 Error!</h1>
    </span>
    <h2 class="py-32 text-mech-500 pb-9 content-center font-bold font-sans sm:px-9 bg-clip-text text-4xl sm:text-6xl">Bring out the WD-40 and duct tape! This page unfortunately can't be found. You might instead want to:</h2>
        <div class="flex place-content-center">
      <a href="/./" class="float-right self-center w-full">
        <button type="button" class="rounded-full border-4 border-mech-500 text-center text-mech-100 bg-mech-500 w-full h-16 font-bold"> Go Back to Home Page</button>
          </a>
        </div>
  </main>
</Layout>

